@import url(styles.css);

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin: 2em 10em;
}

main .heading {
    align-self: center;
    font-size: 2em;
}

main .fehler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2em solid rgba(var(--custom-dark-red), 1);
    padding: 1em 2em;
    background-color: rgba(var(--custom-dark-red), 0.2);
}

main .zwei {
    padding: 2em 2em;
}

main .fehler-ausblenden {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

main #fehler-nachricht:target {
    display: none;
}

main .icon {
    height: 3em;
    vertical-align: middle;
}

main .form-container{
    margin: 0 0 2em 0;
}

main .form-content {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
    border: 0.2em solid rgba(var(--custom-light-green), 1);
}

main .input {
    width: 100%;
    font-size: 1.2em;
}

main .username {
    border-style: solid; 
    border-color: rgba(var(--custom-light-red), 1);
}

main .password {
    border-style: solid; 
    border-color: rgba(var(--custom-light-red), 1);
}

main .button-container {
    display: flex;
    justify-content: space-between;
}

main .button {
    font-size: 1.1em;
    flex-basis: 10em;
    border-radius: 1em;
}

main .anmelden {
    background-color: #ffffff;
    border: 0.2em solid rgba(var(--custom-light-green), 1);
    text-align: center;
    text-decoration: none;
}

main a:link {
    color: rgba(var(--custom-light-green), 1);
}

main a:hover {
    color: #000000
}

main a:visited {
    color: rgba(var(--custom-dark-green), 1);
}

main a:active {
    color: rgba(var(--custom-dark-green), 1);
}

main .submit {
    background-color: #3f4145;
    color: #ffffff;
    border: 0.2em solid rgba(var(--custom-light-green), 1);
}

@media screen and (max-width: 640px){
    main .button-container {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    main .button {
        flex-basis: auto;
        width: 10em;
    }
}