@import url(styles.css);

main .container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 2em 5em;
}

main .heading {
    align-self: center;
    font-size: 2em;
}

main .info-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main .reihe {
    display: flex;
    justify-content: space-around;
}

main .spalte {
    flex-basis: 10em;
}

main .trennlinie {
    display: none;
}

main .bezeichnung {
    font-size: 1.2em;
}

main .inhalt {
    font-size: 1.2em;
}

main form {
    display: flex;
    justify-content: center;
    margin: 0 0 4em 0;
}

main .button {
    font-size: 1.1em;
    flex-basis: 10em;
    border-radius: 1em;
    padding: 0.4em;
}
main .submit {
    color: #ffffff;
    background-color: rgba(var(--custom-light-green), 1);
    border: 0.2em solid rgba(var(--custom-dark-green), 1);
}

@media screen and (max-width: 595px){

    main .trennlinie {
        display: flex;
    }

    main .reihe {
        flex-direction: column;
        gap: 1.5em;
    }

    main .spalte {
        flex-basis: auto;
    }

    main .bezeichnung {
        font-size: 1.5em;
    }
}